#main {
    text-align: center;
    font-size: 20px;
  }
  #back {
    font-style: italic;
  }
  #center{
      text-align: center;
  }
  #imginthisfold{
      text-align:center;
      font-size: 70%;
  }
  #imginfold{
      text-align:center;
      font-size: 91%;
  }
  
  
  #imgonline{
      text-align:center;
      font-size: 118.7%;
  }
  img{
      display: block;
      margin: auto;
  }
 